{% extends "base_layout.html" %}

{% block content %}

{% for key in sor_key_list%}
<a href="{{url_for('camera_oneday', date_key=key)}}">
    <div class="caption">
        <H1> {{key}} </H1>
    </div>
</a>
<div class="row">
    {% for file in pic_dic[key][:6] %}
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{{url_for('static', filename=key + '/' + file)}}">
                <img src="{{url_for('static', filename=key + '/' +file)}}" alt="Lights"
                     style="width:100%">
                <div class="caption">
                    <p>Time: {{ file[11:13] }}:{{ file[14:16] }}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}